
@font-face { 	
	font-family: "font_GH_bold"; 	
	src: url('../font/Neou-Bold.ttf');
}
@font-face{
	font-family: "font_GH"; 	
	src: url('../font/Neou-thin.ttf');
} 
/*REINITIALISATION DU BODY*/
body{
	margin : 0;
	padding: 0;
	background-color: #e5e5e5;
	min-width: 320px;

}

/*************************************************************
*****************      HEADER      ***************************
**************************************************************/
header{
	height: 55px;
	width: 100%;
	background : url(../images/header_GH.png) repeat-x;
	box-shadow: 0 0px 12px #000017;
	border-bottom: 2px solid #800409
}
div#logo{

	color : #e5dfdf;
	margin-left: 10px;
	height : 55px;
}

/***********************************************************
**********************   CONTENT   *************************
************************************************************/
div#content{
	margin: 70px auto;
}
/*************ACCUEIL***************************/
legend.home_title{
	color: #555;
	font-size: 16px;
	padding-left: 20px;
	text-shadow: 0 0px 1px #ddd;
	font-family: font_GH_bold;
	margin-bottom: 10px;
}
fieldset{
	border-top: 2px solid rgba(128,4,9,0.6);
	margin-top: 20px;
}
div#home_news{
	

}
div#home_facebook{
	
}
div#home_twitter{
	
}
div#home_site{

}

/*****************************************************
******************    NAVIGATION   *******************
******************************************************/
navigation{
	display: block;
	height: 55px;
	margin: -57px auto;
	width: 780px;


}
navigation ul{
	font-family: "font_GH_bold";	

}
li{
	padding : 18px;
	display: inline-block;
	color : #bbb;
	font-weight: bold;
	text-shadow: 1px 1px 1px #777;
	
	}
.first{
	background: inherhit;
}
li:hover{
	background-color: rgba(255,255,255,0.1);
	
	color: #fff;
	text-shadow: none;

}
li:active{
	box-shadow: inset 0px 0px 27px rgba(0,0,0,1);
}
/************************************************************
**************    FOOTER         ****************************
*************************************************************/
footer{
	height: 165px;
	width: 100%;
	background: url(../images/footer_GH.png) repeat-x;
	border-top: 2px solid #800409;
	box-shadow: 0 0px 12px #000017;
}
img#foot1{
	float: right;

}

div#prod{
	width: 169px;
	
	border-bottom: 1px solid #555;
	margin: 140px auto 0;
	
}
img#signature{
	border-bottom: 1px solid #800409;
	margin-bottom: -5px;
}