{% include "theme/header.html" %}	

	<script type="text/javascript">
	$(document).ready(function(){
		$("#iframe").fancybox({
			'width'             : '80%',
			'height'            : '90%',
			'autoScale'         : true,
			'transitionIn'      : 'elastic',
			'transitionOut'     : 'elastic',
			'type'              : 'iframe'
		});
	});
	</script>

	<div id="content">
		<div id="gauche_accueil">
			<div id="home_news">
			
					{% for article in last_articles %}			        	
				        	<div id="article">
					        	<a class="iframe" id="iframe" href="{{ article.lien }}">
					        		<img id="img_art" src="{{ article.image }}" />
					        		<div id="info_art">
						        		<div id="titre_art"><h4>{{ article.titre }}</h4></div>
						        		<div id="date_origine">
							        		<div id="origine_art"><h6><img src='{{ STATIC_URL }}favicon/{{ article.origine }}.png' align="bottom"></img><b>{{ article.origine }}</b></h6></div>
							        		<div id="date_art">{{ article.date }}</div>
							        	</div>
							        	
					        		</div>
					        	</a>
					        	<div id="plus">{{ article.vote_pos }}</div>
					        	<div id="moins">{{ article.vote_neg }}</div>
				        	</div>    	
			        	
			        {% endfor %}
				
			</div>
					
			<div id="home_facebook">	
				<div id="publication">		
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis, lacus at rhoncus sagittis, enim mi blandit risus, in blandit magna nibh vestibulum ipsum. Vestibulum eget nibh vitae quam mattis sollicitudin a at eros. Etiam scelerisque, nibh non volutpat condimentum, risus mi eleifend sapien, ut luctus nibh lectus vel augue. Pellentesque tempus, urna vel congue luctus, elit sapien scelerisque lacus, ac tristique augue purus sit amet dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et lacus at felis imperdiet luctus. Duis et aliquam purus. Morbi sed elit erat, ut tincidunt odio. Ut at tortor sit amet libero aliquet tincidunt vulputate et ante. Nullam nisi dui, lobortis vestibulum dapibus quis, iaculis id quam. Nam malesuada, mi eu feugiat fermentum, elit nulla porta ipsum, quis cursus risus do</p>
				</div>
				<div id="publication">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis, lacus at rhoncus sagittis, enim mi blandit risus, in blandit magna nibh vestibulum ipsum. Vestibulum eget nibh vitae quam mattis sollicitudin a at eros. Etiam scelerisque, nibh non volutpat condimentum, risus mi eleifend sapien, ut luctus nibh lectus vel augue. Pellentesque tempus, urna vel congue luctus, elit sapien scelerisque lacus, ac tristique augue purus sit amet dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et lacus at felis imperdiet luctus. Duis et aliquam purus. Morbi sed elit erat, ut tincidunt odio. Ut at tortor sit amet libero aliquet tincidunt vulputate et ante. Nullam nisi dui, lobortis vestibulum dapibus quis, iaculis id quam. Nam malesuada, mi eu feugiat fermentum, elit nulla porta ipsum, quis cursus risus do</p>
				</div>
			</div>
			<div id="home_twitter">	
				<div id="publication">		
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis, lacus at rhoncus sagittis, enim mi blandit risus, in blandit magna nibh vestibulum ipsum. Vestibulum eget nibh vitae quam mattis sollicitudin a at eros. Etiam scelerisque, nibh non volutpat condimentum, risus mi eleifend sapien, ut luctus nibh lectus vel augue. Pellentesque tempus, urna vel congue luctus, elit sapien scelerisque lacus, ac tristique augue purus sit amet dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et lacus at felis imperdiet luctus. Duis et aliquam purus. Morbi sed elit erat, ut tincidunt odio. Ut at tortor sit amet libero aliquet tincidunt vulputate et ante. Nullam nisi dui, lobortis vestibulum dapibus quis, iaculis id quam. Nam malesuada, mi eu feugiat fermentum, elit nulla porta ipsum, quis cursus risus do</p>
				</div>
				<div id="publication">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis, lacus at rhoncus sagittis, enim mi blandit risus, in blandit magna nibh vestibulum ipsum. Vestibulum eget nibh vitae quam mattis sollicitudin a at eros. Etiam scelerisque, nibh non volutpat condimentum, risus mi eleifend sapien, ut luctus nibh lectus vel augue. Pellentesque tempus, urna vel congue luctus, elit sapien scelerisque lacus, ac tristique augue purus sit amet dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et lacus at felis imperdiet luctus. Duis et aliquam purus. Morbi sed elit erat, ut tincidunt odio. Ut at tortor sit amet libero aliquet tincidunt vulputate et ante. Nullam nisi dui, lobortis vestibulum dapibus quis, iaculis id quam. Nam malesuada, mi eu feugiat fermentum, elit nulla porta ipsum, quis cursus risus do</p>
				</div>
			</div>
		</div>
		<div id="droite_accueil">
			<div id="home_site">						
				<img src="http://lol.net/p/bestofmicro-com-mini.jpg"/>						
			</div>
		</div>	
	</div>
{% include "theme/footer.html" %}