{% include "theme/header.html" %}
<script>
$(window).bind('focus', function() {
	$(document).skylo('start');
	$.ajax({
	    type: "POST",
	    url: '/facebook/refresh/',
	    data: { 
	    	page: "{{ page_number }}",
	    	static_url: "{{ STATIC_URL }}"		  
	    }
	}).done(function(msg){
		$(document).skylo('set',30);
	    $("#publications").html(msg);
	    $(document).skylo('end');
	})
	
});

function add_visite(id){
	$.ajax({
	    type: "POST",
	    url: '/facebook/add_visite/',
	    data: {
	    	id: id,
	    }
	})
}
</script>

<div style="visibility:hidden">
{{csrf_token}}
</div>

<div id="switch_page">
	<div id="page" class="change_page">{{ page_number }}</div>
	<a href="/facebook/{{ page_prec }}"><div id="precedent" class="change_page"><</div></a>
	<a href="/facebook/{{ page_suiv }}"><div id="suivant" class="change_page">></div></a>
</div>
<div id="content">
	<div id="gauche_accueil">
	 <div id="facebook">
	 	<div id="titre_face"><div id="text_titre_fb">FACEBOOK</div></div>
	 	<div id="publications">
	  	{% for article in selected_articles %}  
	  		<a href="" target="_blank" onclick="add_visite({{article.id}})">
	          <div id="publication">
	            <div id="fb_origine">{% autoescape off %}{{ article.origine }}{% endautoescape %}</div>
	            <div id="fb_contenu">{% autoescape off %}{{ article.contenu }}{% endautoescape %}</div>
	            <div id="fb_date">{% autoescape off %}{{ article.date|date:"H:i d-m-Y" }}{% endautoescape %}</div>
	            <div id="fb_visites">{% autoescape off %}{{ article.visites }}{% endautoescape %}</div>
	          </div>
	        </a> 
	    {% endfor %}
	    </div>
	 </div> 
	</div> 
{% include "theme/footer.html" %}