{% include "theme/header.html" %}
<div id="switch_page">
	<div id="page" class="change_page">{{ page_number }}</div>
	<a href="/facebook/000{{ page_prec }}"><div id="precedent" class="change_page"><</div></a>
	<a href="/facebook/000{{ page_suiv }}"><div id="suivant" class="change_page">></div></a>
</div>
<div id="content">
	<div id="gauche_accueil">
	 <div id="facebook">
	 	<div id="titre_face"><div id="text_titre_fb">FACEBOOK</div></div>
	 	<div id="publications">
	  	{% for article in selected_article %}     
	          <div id="publication">
	            <div id="fb_origine">{% autoescape off %}{{ article.origine }}{% endautoescape %}</div>
	            <div id="fb_contenu">{% autoescape off %}{{ article.contenu }}{% endautoescape %}</div>
	            <div id="fb_date">{% autoescape off %}{{ article.date }}{% endautoescape %}</div>
	          </div> 
	    {% endfor %}
	    </div>
	 </div> 
	</div> 
{% include "theme/footer.html" %}