{% include "theme/header.html" %}
<script>
$(window).bind('focus', function() {
	$(document).skylo('start');
	$.ajax({
	    type: "POST",
	    url: '/news/refresh/',
	    data: { 
	    	page: "{{ page_number }}",
	    	static_url: "{{ STATIC_URL }}"		  
	    }
	}).done(function(msg){
		$(document).skylo('set',30);
	    $("#articles").html(msg);
	    $(document).skylo('end');
	})
});

function add_visite(id){
	$.ajax({
	    type: "POST",
	    url: '/news/add_visite/',
	    data: { 
	    	id: id,
	    }
	})
}

</script>

<div style="visibility:hidden">
{{csrf_token}}
</div>

<div id="switch_page">
	<div id="precedent" class="change_page"><</div>
	<div id="suivant" class="change_page">></div>
</div>
<div id="content">
	<div id="titre_news">News</div>		
	<div id="news">			
	{% for article in selected_articles %}	
		<div id="container_article">
        	<div id="article" class="_{% for word in article.origine.split %}{{word}}{% if not forloop.last %}_{% endif %}{% endfor %}">
        		{% if article.image != None %}
        			<div id="img_art" style = "background: #fff url('{{ article.image }}') no-repeat 50% 50%; background-size:100%; "></div>
        		{% else %} 
        			<div id="img_art" style = "background: #f00 url('{{ article.image }}') no-repeat 50% 50%; "></div>
        		{% endif %}
        		
        			
        		<div id="info_art">
        			<div id="titre_date">
		        		<div id="titre_art">{{ article.titre }}</div>
		        		
	        		</div>
	        		<div id="origine_art">
	        			<img id="favicon" src='{{ STATIC_URL }}{{ article.origine }}.png' align="bottom" alt='{{ STATIC_URL }}empty_image.png'></img>
	        			<div id="origine_article">{{ article.origine }}</div>
        			</div>
        			{% if day == article.date|date:"d" %}
	        			<div id="date_art">{{ article.date|date:"H:i" }}</div>
	        		{% else %}
	        			<div id="date_art_long">{{ article.date|date:"H:i d-m-Y" }}</div>
	        		{% endif %}
	        	</div>
        		
        		
        	</div> 
        </div>   
       	
      	{% endfor %}
      	</div>
</div>
{% include "theme/footer.html" %}