{% include "theme/header.html" %}
<script>
$(window).bind('focus', function() {
	$(document).skylo('start');
	$.ajax({
	    type: "POST",
	    url: '/news/refresh/',
	    data: { 
	    	page: "{{ page_number }}",
	    	static_url: "{{ STATIC_URL }}"		  
	    }
	}).done(function(msg){
		$(document).skylo('set',30);
	    $("#news").html(msg);
	    $(document).skylo('end');
	})
});

function add_visite(id){
	$.ajax({
	    type: "POST",
	    url: '/news/add_visite/',
	    data: { 
	    	id: id,
	    }
	})
}

</script>

<div style="visibility:hidden">
{{csrf_token}}
</div>

<div id="switch_page">
	<div id="precedent" class="change_page"><</div>
	<div id="suivant" class="change_page">></div>
</div>
<div id="content">
	<div id="titre_news">News</div>		
	<div id="news">			
		{% include "ajax_content/ajax_news.html" %}
   	</div>
</div>
{% include "theme/footer.html" %}