{% include "theme/header.html" %}
<div id="content">
<div id="gauche_accueil">
	<div id="sources">
		<div id="titre_src"><div id="text_titre_src">SOURCES</div></div>
		<div id="sources_news">
			<div>
				<div id="source_titre">Les Articles du Web</div>
			</div>
			<div>
				<a class="lien_source" href="http://www.01net.com/"><div id="source_name">01net</div></a>
			</div>
			<div>
				<a class="lien_source" href="http://www.hardware.fr/"><div id="source_name">Hardware</div></a>
			</div>
			<div>
				<a class="lien_source" href="http://www.comptoir-hardware.com/"><div id="source_name">Comptoir du Hardware</div></a>
			</div>
			<div>
				<a class="lien_source" href="http://www.lesnumeriques.com/"><div id="source_name">Les Numériques</div></a>
			</div>
			<div>
				<a class="lien_source" href="http://www.tomsguide.fr/"><div id="source_name">Tom's Guide</div></a>
			</div>
		</div>
		<div id="sources_fb">
			<div>
				<div id="source_titre">Facebook</div>
			</div>
			<div>
				<a class="lien_source" href="https://www.facebook.com/LDLC.com"><div id="source_name">LDLC</div></a>
			</div>
			<div>
				<a class="lien_source" href="https://www.facebook.com/Materiel.net"><div id="source_name">Materiel.net</div></a>
			</div>
			<div>
				<a class="lien_source" href="https://fr-fr.facebook.com/rueducommerce"><div id="source_name">Rue du Commerce</div></a>
			</div>
			<div>
				<a class="lien_source" href="https://fr-fr.facebook.com/topachat"><div id="source_name">TopAchat</div></a>
			</div>
			<div>
				<a class="lien_source" href="https://www.facebook.com/Grosbill"><div id="source_name">GrosBill</div></a>
			</div>
		</div>
		<div id="sources_twit">
			<div>
				<a class="lien_source" href="http://www.tomsguide.fr/"><div id="source_titre">Twitter</div></a>
			</div>
			<div>
				<a class="lien_source" href="https://twitter.com/pressecitron"><div id="source_name">pressecitron</div></a>
			</div>
			<div>
				<a class="lien_source" href="https://twitter.com/gchampeau"><div id="source_name">gchampeau</div></a>
			</div>
			<div>
				<a class="lien_source" href="https://twitter.com/Ulrichfr"><div id="source_name">Ulrichfr</div></a>
			</div>
			<div>
				<a class="lien_source" href="https://twitter.com/JeromeColombian"><div id="source_name">JeromeColombian</div></a>
			</div>
			<div>
				<a class="lien_source" href="https://twitter.com/fleurpellerin""><div id="source_name">fleurpellerin</div></a>
			</div>
			<div>
				<a class="lien_source" href="https://twitter.com/altolabs"><div id="source_name">altolabs</div></a>
			</div>
			<div>
				<a class="lien_source" href="https://twitter.com/Locita"><div id="source_name">Locita</div></a>
			</div>
			<div>
				<a class="lien_source" href="https://twitter.com/isabellemathieu"><div id="source_name">isabellemathieu</div></a>
			</div>
		</div>
	</div>
</div> 
{% include "theme/footer.html" %}