		<div id="droite_accueil">
			<div id="best_site">						
				<div id="best_site_img"><img id="best_site_img" src='{{ STATIC_URL }}site_img/{{ best_site.0 }}.png'></img></div>
				<table id="best_site_tab">
					<tr id="droite_tab_title">
						<td>Visites</td>
						<td>Articles</td>
						<td>Moy / Art.</td>
					</tr>
					<tr id="droite_tab_info">
						<td>{{ best_site.2 }}</td>
						<td>{{ best_site.3 }}</td>
						<td>{{ best_site.4 }}</td>
					</tr>
				</table>
				<div id="droite_bottom">SITE DU MOMENT</div>	
			</div>
			<div id="best_article">
			
			
				<div id="droite_bottom">ART. DU MOMENT</div>		
			</div>
			<div id="google_ads">	
				<div id="droite_bottom">PUBLICITE</div>		
			</div>
		</div>
	</div>
	<footer>
		<img id="foot1" src="{{ STATIC_URL }}foot2.png"/>
		<div id="footer_links">
			<div id="links">
				<a href="/sources/">Les sources</a>
				<a href="https://www.facebook.com/Geek.Hub.2k13?ref=hl">GeekHub sur Facebook</a>
				<a href="https://twitter.com/GeekHub2k13">GeekHub sur Twitter</a>
			</div>
			<div id="social_elements">
				<div id="social_element">
					<div class="fb-like" data-href="https://www.facebook.com/Geek.Hub.2k13" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div>			
				</div>
				<div id="social_element">
					<div class="tw-follow">
					<a href="https://twitter.com/GeekHub2k13" class="twitter-follow-button" data-show-count="false" data-lang="fr">Suivre @GeekHub2k13</a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>