		<div id="droite_accueil">
			<div id="home_site">						
				<img id="site_semaine" src="http://lol.net/p/bestofmicro-com-mini.jpg"/>
				<div id="int_site_semaine">SITE DE LA SEMAINE</div>			
			</div>
			<div id="home_pub">	
				<div id="pub">
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-1096088233292030";
				/* it-reminder 1 */
				google_ad_slot = "9919106309";
				google_ad_width = 160;
				google_ad_height = 600;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
				</div>
				<div id="int_pub">PUBLICITE</div>				
			</div>
		</div>


	</div>
	<footer>
		<img id="foot1" src="{{ STATIC_URL }}image/foot2.png"/>
		<div id="footer_links">
			<div id="links"><a href="/sources/">Les sources</a>
			<a href="https://www.facebook.com/Geek.Hub.2k13?ref=hl">GeekHub sur Facebook</a>
			<a href="https://twitter.com/GeekHub2k13">GeekHub sur Twitter</a>
			<a href="/apropos/">A propos de Geekhub</a></div>
			<div id="social_elements">
				<div id="social_element">
					<div class="fb-like" data-href="https://www.facebook.com/Geek.Hub.2k13" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div>			
				</div>
				<div id="social_element">
					<div class="tw-follow">
					<a href="https://twitter.com/GeekHub2k13" class="twitter-follow-button" data-show-count="false" data-lang="fr">Suivre @GeekHub2k13</a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>